{% extends "base.html" %}

{% block title %}{{ site.title }}{% endblock %}

{% block container %}
    <div id="wiki_title">{{ site.title }}</div>

  {% if site.index %}
    {{ page.content }}
  {% else %}
    {% for category_name, pages_list in site.categories.iteritems() %}
    <h2 id="{{ category_name }}">{{ category_name }}</h2>
    <ul>
        {%- for page in pages_list %}
        <li class="pagelist"><a href="./{{ category_name }}/{{ page.name }}.html">{{ page.title }}</a></li>
        {%- endfor %}
    </ul>
    <div class="clearfix"></div>
    {% endfor %}
  {% endif %}
{% endblock %}
